<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid">
        <div class="jumbotron text-center" style="background-color: #03020E; color: #FFF;">
            <h1>Test</h1>
            <p>
                <a href="/scrape" role="button" class="btn btn-primary btn-lg">Scrape New Data</a>
            </p>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer center-on-small-only stylish-color-dark">
    <!--Copyright-->
    <div class="footer-copyright" style="background-color: #03020E; color: #FFF;">
        <div class="container-fluid">
            <p style="text-align: center;">
            	 © JobFitt 2018 Copyright: All Rights Reserved
            </p>
        </div>
    </div>
    <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

</body>
</html>