<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jobfitt-Job Match Portal</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
     <style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: red;
       color: white;
       text-align: center;
    }

    .jumbotron{
    position: relative;
    padding:0 !important;
    margin-top:70px !important;
    
    background-image:url("../static/img/bg-masthead.jpg");
    background-size: cover;
    color: white;

    margin-top: 0px;
    text-align:center;
    height:650px;
    margin-bottom: 0 !important;

}
  .search-button {
  background: url('../static/img/arrow.png') left center no-repeat;
  width: 800px;
  padding-left: 15px;
}

.container-fluid{
    padding:0 !important;
}
.col-xs-4{
    background:rgba(157,52,99,0.7);    
}
    </style>
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">JobFitt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/survey">Survey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trends">Trends</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header 
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Jobfitt</h1>
        <h3 class="mb-5">
          <em>A Sharpened approach to job search</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/survey">Start Search</a>
      </div>
      <div class="overlay"></div>
    </header> -->

    <!-- Page Content -->

    <!-- <Jumbotron with Header> -->

      
        <div class="jumbotron">
        <h1>A Structured Approach to Job Search - Based on your</h1>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-xs-4">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <h4> SKILLS</h4>
            </div>
            <div class="col-xs-4">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <h4> EXPERIENCE</h4>
            </div>
            <div class="col-xs-4">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <h4>EDUCATION</h4>
            </div>
            <div class="col-lg-10">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <p></p><p></p>
            </div>
            <div class="col-lg-10">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <p></p><p></p>
            </div>
            <div class="col-lg-10">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
              <p></p><p></p>
            </div>
            <div class="col-xs-4">
              <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
            </div>
             <a href="#" class="btn btn-primary btn-xl" position="fixed" bottom="0" > CLick Here to Start Search</a>
            </div>
          </div>
         </div>     
       
    <div class="container">
      <!--
      <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
        <img src='../static/img/portfolio-1.jpg' style='width:100%;height:100%' alt='[]' />
          
      </div>
      
          -->
        
      
    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Services</h3>
          <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Responsive</strong>
            </h4>
            <p class="text-faded mb-0">Looks great on any screen size!</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Redesigned</strong>
            </h4>
            <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>Favorited</strong>
            </h4>
            <p class="text-faded mb-0">Millions of users
              <i class="fa fa-heart"></i>
              Start Bootstrap!</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Question</strong>
            </h4>
            <p class="text-faded mb-0">I mustache you a question...</p>
          </div>
        </div>
      </div>
    </section>
  </div>

     <!-- About -->
     <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
            <p >This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
              <a href="https://unsplash.com/">Unsplash</a>!</p>
            
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Rutgers Athena Team 2018-2020</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


    
  </body>

</html>
